.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0;
}
.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.robot {
  position: absolute;
  top: -10%;
  right: -60%;
  width: 200%;
  height: 100%;
}
.textContainer {
  padding: 0 5rem;
  margin-top: 10rem;
  width: 40%;
}
.textContainer span {
  color: rgb(190, 162, 70);
  letter-spacing: 4px;
  font-size: 1rem;
}
.textContainer p {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: white;
  line-height: 3rem;
}

.cvButton {
  margin-top: 3rem;
  letter-spacing: 4px;
  color: rgb(190, 162, 70);
  background: #2f2f2f;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  width: 80%;
  height: 4rem;
}
@media screen and (max-width: 1500px) {
  .robot {
    width: 180%;
  }
}
@media screen and (max-width: 1300px) {
  .mainContainer {
    flex-direction: column-reverse;
    height: 100%;
  }
  .imageContainer {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70rem;
    overflow: hidden;
  }
  .robot {
    margin-top: -30%;
    position: static;
    width: 100%;
    height: 150%;
  }
  .textContainer {
    padding: 0rem;
    margin-top: -10%;
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .imageContainer {
    height: 50rem;
  }
  .robot {
    margin-top: -30%;
  }
  .textContainer {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .imageContainer {
    height: 37rem;
  }
  .robot {
    margin-top: -24%;
  }
  .textContainer {
    margin-top: 5%;
  }
  .cvButton {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer {
    height: 30rem;
  }
  .robot {
    margin-top: -20%;
  }
  .textContainer {
    margin-top: 10%;
  }
}
@media screen and (max-width: 500px) {
  .imageContainer {
    height: 25rem;
  }
  .textContainer {
    margin-top: 5%;
  }
  .textContainer span {
    font-size: 0.8rem;
  }
  .textContainer p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .imageContainer {
    height: 21rem;
  }
  .robot {
    margin-top: -15%;
  }
}
@media screen and (max-width: 300px) {
  .imageContainer {
    height: 20rem;
    margin-top: -15%;
  }
}
